In [1]:
import pandas as pd
import numpy as np

In [5]:
edr_data = pd.read_csv('./data/ISEAR - ISEAR.csv', header=None)

In [6]:
edr_data.head()

   0        1                                                  2
0  0      joy  On days when I feel close to my partner and ot...
1  1     fear  Every time I imagine that someone I love or I ...
2  2    anger  When I had been obviously unjustly treated and...
3  3  sadness  When I think about the short time that we live...
4  4  disgust  At a gathering I found myself involuntarily si...

In [11]:
edr_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7446 entries, 0 to 7445
Data columns (total 3 columns):
0    7446 non-null int64
1    7446 non-null object
2    7446 non-null object
dtypes: int64(1), object(2)
memory usage: 174.6+ KB

In [12]:
edr_data.drop(columns=[0], inplace=True)

In [13]:
edr_data.head()

         1                                                  2
0      joy  On days when I feel close to my partner and ot...
1     fear  Every time I imagine that someone I love or I ...
2    anger  When I had been obviously unjustly treated and...
3  sadness  When I think about the short time that we live...
4  disgust  At a gathering I found myself involuntarily si...

In [14]:
df =edr_data.copy()

In [15]:
df[1].value_counts()

joy        1082
sadness    1074
anger      1069
fear       1063
shame      1059
disgust    1059
guilt      1040
Name: 1, dtype: int64

In [16]:
target_labels = df[1].value_counts().keys().tolist()
target_labels

['joy', 'sadness', 'anger', 'fear', 'shame', 'disgust', 'guilt']